*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(-45deg, #31004a, #8300c4, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    background-color: #303030; */
    background-color: #410062;
	height: 100vh;

    /* display: grid; */
    /* place-items: center; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    --transition-duration: .3s;
    --tile-size: 65px;
    --tile-real-size: 58px;
    --num-cols: 5;
    --num-rows: 8;

    width: calc(var(--tile-size) * var(--num-cols));
    height: calc(var(--tile-size) * var(--num-rows));
    position: relative;
    font-family: sans-serif;
    margin-top: 2rem;
    font-weight: bold;
}

.tile {
    --bg-color: rgb(255, 62, 62);
    /* opacity: .9; */

    width: var(--tile-real-size);
    height: var(--tile-real-size);
    background-color: var(--bg-color);
    border-radius: 6px;

    position: absolute;
    display: grid;
    place-items: center;
    user-select: none;
    z-index: 1; /* Lines joining them will have z-index 0 */

    top: calc(var(--i) * var(--tile-size));
    left: calc(var(--j) * var(--tile-size));

    transition: top var(--transition-duration) ease-in-out, left var(--transition-duration) ease-in-out, transform .08s;
}
.tile.spawn {
    animation: spawn .3s ease-in-out forwards;
}
.tile:hover {
    transform: scale(1.2);
}
.tile.active {
    animation: rotate .8s ease-in-out forwards;
}
.tile.kill {
    animation: kill .5s ease-in-out forwards;
    pointer-events: none;
}

@keyframes spawn {
    0% {
        transform: scale(0) rotate(-180deg);
    }
    95% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
@keyframes shake {
    0% {
        background-color: #23d5ab;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: #23d5ab;
    }
}
@keyframes rotate {
    0% {
        transform: scale(.9) rotate(0deg);
    }
    100% {
        transform: scale(.9) rotate(360deg);}
}
@keyframes kill {
    0% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(-20deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}

.connection {
    /* z-index: 1; */
    --connection-width: 10;
    position: absolute;
    top: calc(var(--sy) * var(--tile-size) + (var(--tile-real-size) / 2));
    left: calc(var(--sx) * var(--tile-size) + (var(--tile-real-size) / 2));
    /* width: 30px; */
    width: calc(
        var(--tile-size) *
        sqrt(
            (var(--sx) - var(--dx)) * (var(--sx) - var(--dx)) + (var(--sy) - var(--dy)) * (var(--sy) - var(--dy))
        )
    );
    height: calc(1px * var(--connection-width));
    transition: top var(--transition-duration) ease-in-out, left var(--transition-duration) ease-in-out, width var(--transition-duration) ease-in-out;
}
.connection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: top left;
    transform:  rotate(calc(atan((var(--dy) - var(--sy)) / (var(--dx) - var(--sx)))));
    transition: transform var(--transition-duration) ease-in-out;
}

/*----------------------------------------------------------------
Score section */
.score-container {
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    margin-top: 2rem;
}
.score {
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.5rem;
    letter-spacing: 4px;
    animation: pop .3s linear forwards;
}
.score-change {
    display: block;
    position: absolute;
    left: 80%;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: bold;
    animation: floatup .8s linear forwards;
}
@keyframes floatup {
    0% {
        top: calc(50%);
        transform: translateY(-50%);
        opacity: 1;
    }
    80% {
        top: calc(35%);
        transform: translateY(-50%);
        /* opacity: .5; */
    }
    100% {
        top: calc(30%);
        transform: translateY(-50%);
        opacity: 0;
    }
}
@keyframes pop {
    0% {
        transform: scale(.3);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}