*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #31004a, #8300c4, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;

    display: grid;
    place-items: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    --tile-size: 65px;
    --num-cols: 5;
    --num-rows: 8;

    width: calc(var(--tile-size) * var(--num-cols));
    height: calc(var(--tile-size) * var(--num-rows));
    position: relative;
}

.tile {
    --tile-real-size: 55px;
    --bg-color: rgb(255, 62, 62);

    width: var(--tile-real-size);
    height: var(--tile-real-size);
    background-color: var(--bg-color);

    position: absolute;
    top: calc(var(--i) * var(--tile-size));
    left: calc(var(--j) * var(--tile-size));
    transition: top .3s ease-in-out;
}
.tile:hover {
    transform: scale(1.2);
}
.tile.kill {
    animation: kill .5s ease-in-out forwards;
}

@keyframes kill {
    0% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(-20deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}