*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303030;
	/* background: linear-gradient(-45deg, #31004a, #8300c4, #23d5ab); */
	/* background-size: 400% 400%; */
	/* animation: gradient 5s ease infinite; */
	height: 100vh;

    display: grid;
    place-items: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    --transition-duration: .3s;
    --tile-size: 65px;
    --tile-real-size: 58px;
    --num-cols: 5;
    --num-rows: 8;

    width: calc(var(--tile-size) * var(--num-cols));
    height: calc(var(--tile-size) * var(--num-rows));
    position: relative;
    font-family: sans-serif;
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.tile {
    --bg-color: rgb(255, 62, 62);
    /* opacity: .9; */

    width: var(--tile-real-size);
    height: var(--tile-real-size);
    background-color: var(--bg-color);
    border-radius: 6px;

    position: absolute;
    display: grid;
    place-items: center;
    user-select: none;
    z-index: 1; /* Lines joining them will have z-index 0 */

    top: calc(var(--i) * var(--tile-size));
    left: calc(var(--j) * var(--tile-size));

    transition: top var(--transition-duration) ease-in-out, left var(--transition-duration) ease-in-out;
}
.tile.spawn {
    animation: spawn .3s ease-in-out forwards;
}
.tile:hover {
    transform: scale(1.2);
}
.tile.selected {
    border: 3px solid rgb(80, 49, 255);
}
.tile.active {
    animation: tilt-shaking .15s ease-in-out infinite;
}
.tile.kill {
    animation: kill .5s ease-in-out forwards;
}

@keyframes spawn {
    0% {
        transform: scale(0) rotate(-180deg);
    }
    95% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
@keyframes shake {
    0% {
        background-color: #23d5ab;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: #23d5ab;
    }
}
@keyframes tilt-shaking {
    0% {
        transform: scale(.9) rotate(0deg);
    }
    25% {
        transform: scale(.9) rotate(6deg);
    }
    50% {
        transform: scale(.9) rotate(0eg);
    }
    75% {
        transform: scale(.9) rotate(-10deg);
    }
    100% {
        transform: scale(.9) rotate(0deg);}
}
@keyframes kill {
    0% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(-20deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}

.connection {
    /* z-index: 1; */
    --connection-width: 10;
    position: absolute;
    top: calc(var(--sy) * var(--tile-size) + (var(--tile-real-size) / 2));
    left: calc(var(--sx) * var(--tile-size) + (var(--tile-real-size) / 2));
    /* width: 30px; */
    width: calc(
        var(--tile-size) *
        sqrt(
            (var(--sx) - var(--dx)) * (var(--sx) - var(--dx)) + (var(--sy) - var(--dy)) * (var(--sy) - var(--dy))
        )
    );
    height: calc(1px * var(--connection-width));
    transition: top var(--transition-duration) ease-in-out, left var(--transition-duration) ease-in-out, width var(--transition-duration) ease-in-out;
}
.connection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: top left;
    transform:  rotate(calc(atan((var(--dy) - var(--sy)) / (var(--dx) - var(--sx)))));
    transition: transform var(--transition-duration) ease-in-out;
}